.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1140px;
}

.icon_menu {
    display: none;
}

.head_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 120px;
    height: 50px;
}

.time_now span {
    font-family: 'Roboto-Medium';
}

.head_left {
    display: flex;
    width: 100%;
    justify-content: end;
}

.menu_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo_href {
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu_item {
    cursor: pointer;
}

.menu_bar span,
.menu_bar a {
    font-family: 'Roboto-Medium';
}