.overlay_login,
.overlay_register {
    float: left;
    position: absolute;
    width: 100%;
    top: 0;
    background: #000000a6;
    padding: 40px 0;
    display: none;
    height: 100vh;
}

.popup_login {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    width: 60%;
    overflow: hidden;
}

.app_more_item {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.close_login,
.close_regis {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    background: unset;
    border: unset;
}

.login_item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.formLogin {
    width: 80%;
}

form.form_login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.text_login span {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    color: #0d5ebb;
}

.box_login {
    display: flex;
    gap: 6px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.lg_mail {
    display: flex;
    align-items: center;
    justify-content: start;
}

.inp_mail {
    border: unset;
    width: 100%;
    border-bottom: 1px solid #cbc6c6;
    padding-bottom: 5px;
}

.lg_mail,
.lg_pass {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.inp_mail,
.inp_pass {
    border: unset;
    width: 100%;
    border-bottom: 1px solid #cbc6c6;
    padding: 5px;
}

.func_more {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.save_login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.forgot_pass a {
    font-size: 12px;
    color: #929292;
}

.forgot_pass a:hover {
    text-decoration: underline;
}

.btn_login button {
    width: 200px;
    border: unset;
    border-radius: 10px;
    height: 35px;
    background: #0d5dbc;
    color: #FFFFFF;
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
}

.login_more {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app_more {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
}

.text_regis {
    display: flex;
    gap: 10px;
}

a.link_regis {
    color: #0061ee;
    text-decoration: underline;
}

.box_login div,
.box_login span {
    font-family: 'Roboto-Medium';
    color: #0061ee;
}

.formLogin .box_login {
    flex-direction: column;
}